# Python
*.pyc
*__pycache__/
*.py~
.pytest_cache
*.pkl
*tmp_test*/
frame*
*results*/
old_files/
recordings/
*errors*/
*.npz
*plots*/
*rewards*/
*wandb/
*train_data*/
*models/
old_results*/
demo_dir*/
live_imgs*/
*.zip

# Setuptools distribution and build folders.
*.egg-info/
/dist/
/build
keys/
.cache

# jupyter
.ipynb_checkpoints

#editors
*.swp
*.sublime-project
*.sublime-workspace
.idea

#physics
.DS_Store
*0_VRDemoSettings.txt
*renderTimings_0.json
logs/

# Virtualenv
/env

# ?
imgui.ini

